@media screen and (max-width: 768px){
  
    
    .abcd{
        width:100%;
        clear: both;
        /* display: table; */
        /* content: ""; */
    }
    .stude_prep{
        clear: both;
        display: table;
        content: "";
    }

    img{
        width:100%;
    }
}
@media screen and (max-width: 425px){
    /* .container{
        width:200%;
    }
    img{
        width:200%;
    } */
}