
*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    text-decoration: none;
    outline: none;
    background: transparent;
    list-style: none;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body{
    min-height:100%;
    line-height: 1.4;
    color:#222;
    font-family: 'Open Sans', sans-serif;
}

.row::after,.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
[class ^="col-"]{
    float:left;
    padding: 0 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.container{
    max-width: 1170px;
    padding: 0 15px;
    width:100%;
    margin: 0 auto;
}

header{
    width:100%;
    padding:15px 0;
   position: fixed;
   display:flex;
}


nav{
    float:right;

}
.navigation{
    display: flex;
    /* justify-content: space-between; */
}
ul.navigation{
    float:left;
   

}
ul.navigation > li{
    float:left;
    /* margin-left: 100px; */

}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-part {
    width: 110px;
}
.btn-orange{
    border-radius: 38px;
    background-color:#FF5A63;
    color:white;
}
.header-container a{
    float: left;
    padding: 15px;
    min-width: 110px;
    text-align: center;
}
.logo-part a{
    margin-top:20px;
    color:red;

}

.logo-page{
    display: flex;
    
}
.logo-page li {
    /* margin-left: 40px; */
}
.banner h1{
    margin-top:35px;

}

.head-content{
    background-color:  #F4FAFD;
}

.row{
    display: flex;
}
.future{
    padding-top: 280px;
}
.future h1{
    font-size: 30px;
    color:#38327c;
}

.amp_content{
    padding-top: 140px;
}

.future_span{
    color:#FF5A63;
}

.try{
    background-color: #FF5A63;
    padding: 15px;
    border-radius: 10px;
    color:white;
    margin-top: 20px;
} 

.right-part .ab{
    margin-top: 15px;
}
.what{
    color:#38327c
}

.amp{
    color: #FF5A63;
}
.matter{
    color:#FF5A63;
}
.increse{
    color:#FF5A63
}
.why{
    color: #38327c;
    padding-top: 100px;
}
.why h2{
    font-size: 30px;
}
.why .p1{
    font-size: 20px;
    color: #38327c;
}
.why .p2{
    padding-top: 20px;
}
.freque{
    background-color: #F4FAFD;
    padding-top: 60px;
    padding-left: 20px;
}
.question h2{
    text-align: center;
    color:#38327c;
}
.question h3{
  color:#38327c;
  padding-top: 60px;
}
.question p{
    padding-top: 20px;
}
.question{
    padding-top: 60px;
}
.question1{
    padding-top: 10px;
}
.question1 p {
    padding-top: 20px;
}
.question1 h3{
    color:#38327c;
    /* padding-top: 15px; */
}

  .plan_parent{
     display: flex; 
     align-items: center; 
     justify-content: space-between;
     gap:10px; 
 } 
.free{
    border:1px solid #E1E1E1;
    border-radius: 10px; 
    /* gap:10px; */
}
.advance{
    border:1px solid #E1E1E1;
    border-radius: 10px;
}
.standard{
    border:1px solid #E1E1E1;
    border-radius: 10px;
}

.basic{
    border:1px solid #E1E1E1;
    border-radius: 10px;
}
.basic_plan{
    
    display: flex;
    gap:10px;
}
.freeul3{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.freeul1{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.freeul2{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.basicul3{

    display: flex;
    gap:10px;
    flex-direction: column;
}
.basicul2{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.basicul1{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.advanceul3{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.advanceul2{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.advanceul1{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.standardul3{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.standardul2{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.standardul1{
    display: flex;
    gap:10px;
    flex-direction: column;
}

.choose{
    color:#38327c;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 40px;
    /* padding-top: 30px;  */
    display: flex;
    /* gap:20px; */
   justify-content: center;
   /* padding: 100px; */
   
   /* border:1px solid #E1E1E1;
    border-radius: 10px; */
   
  
}
.col-3{
   
}




.plan1{
    background-color:#F5FAFE;
    padding: 10px 30px;
    border-radius: 10px;
    color:#FF6969;
    border-color: #FF6969;
}

.plan2{
    color:#F5FAFE;
    background-color: #FF6969;
    padding: 10px 30px;
    border-radius: 10px;
    border-color: #FF5A63;

}





.free_plan .advance_plan .standard_plan .basic_plan{
    /* padding-top: 20px; */
    /* font-color:#38327c; */
}
.fa-check{
    color:#5ACE31;
}
.fa-xmark{
    color:#FF6969
}
.free_plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#444444;
    font-size:20px;
    min-height: 149.6px;
   

}
.free_plan h4{
    padding-top: 10px;
    font-size: 25px;
}
.advance_plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#38327c; 
    /* gap:10px; */
}
.advance_plan h4{
    padding-top: 10px;
    font-size: 25px;
}
.plan_parent{
    /* border:1px solid #E1E1E1;
    border-radius: 10px; */
}
.standard_plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#38327c; 
}
.standard_plan h4{
    padding-top: 10px;
    font-size: 25px;
    /* margin-bottom: 20px; */
    /* padding-bottom: 20px; */
}

.basicul3{
    /* gap:10px; */
}

.basic_plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#38327c;
    /* padding-bottom: 20px;  */
    /* margin-bottom: 10px; */

}

/* .free_planul2{
    min-height:65.6px ;
} */
.freeul2{
    min-height: 65.6px;
}

.plan_parent ul{
    border-bottom: 1px solid #E1E1E1;
    padding: 10px;
}
.basic_plan h4{
    padding-top: 10px;
    font-size: 25px;
}
.foot1{
    display: flex;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width:auto;

}


/* 
ul{
    gap: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
} */



.col-3{
    /* border-radius: 10px;
    border:2px solid #FF5A63; */
    /* display: flex;
    gap:20px; */
  

}

.footer{
    background-color:#38327c;
    height:200px;
    color:white;
    padding-left: 10px;
    margin-top: 40px;
}
.footer-content{
    margin-top: 20px;
    left:0;
}
.envoie{
    padding-top: 10px;
}
.foot1 li{
    display: flex;
    align-items: center;
}


.copyright{
    padding-top: 120px;
    align-items: center;
    text-align: center;
    height: 15px;
    /* padding-bottom: 20px; */
}

