<p>child works!</p>

<!-- <h2>Count Value  = {{value}}</h2>
<button (click)="counter('add')">ADD</button>
<button (click)="counter('subtract')">Subtract</button> -->

<!-- <button (click)="counter('addd')">+</button>
<button (click)="counter('minus')">+</button> -->
<h1>{{child}}</h1>
<h2>{{parentdata}}</h2>
<h3>{{parentdata1}}</h3>
<button (click)="fun()">click</button>
<button (click)="onPlus('Add')">++</button>
<button (click)="onPlus('minus')">--</button>
<h1>here is {{count}}</h1>
{{count}}